body {
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal h1 {
  color: white;
}

form {
  height: auto;
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.3em;
  background: #eee;
  padding: 0.1em;
  margin: 0 auto;
  width: 75%;
  border-radius: 25px;
}

form > label {
  grid-column: labels;
  grid-row: auto;
}

form > input,
form > textarea,
form > button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 0.2em;
}

input {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 7px;
  margin-top: 7px;
}

nav {
  background-color: #00a8de;
  color: white;
}

nav ul {
  margin-top: 10px;
  text-align: end;
}

nav li {
  display: inline;
  list-style: none;
  padding: 25px;
  font-size: 20px;
}

nav li:hover {
  color: rgba(0, 0, 0, 0.3);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.petInfo {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 5px 10px 8px gray;
  width: 75%;
  margin-bottom: 30px;
}

.petInfo > button {
  background-color: #70cf36;
  color: white;
  border-radius: 5px;
}
